@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffffff;
  --secondary: #585858;
  --heading-color: #ffffff;
  --bg-shade: #0E1011;
  --nav-bar-color: rgba(14, 16, 17, 0.5);
  --github: #e62872;
  --darkblue: #1c1e53;
  --nav-text-color: #464646;
  --black: #000000;
  --white: #ffffff;
  --offwhite: #b8b8b8;
}

.section--title {
  color: var(--heading-color);
  font-size: 40px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}

@-webkit-keyframes sectionTitleAnimation {
  0%{background-position:50% 30%}
  50%{background-position:50% 80%}
  100%{background-position:50% 30%}
}
@keyframes sectionTitleAnimation {
  0%{background-position:50% 30%}
  50%{background-position:50% 80%}
  100%{background-position:50% 30%}
}
.section--heading {
  color: var(--heading-color);
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
}

/* Section Titles Ends */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: "Roboto", sans-serif;
  -moz-osx-font-smoothing: "Roboto", sans-serif;
  font-style: normal;
  background: var(--bg-shade);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color:#ffffff;
}

/* Heading 1 */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}
/* Heading 2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
/* Heading 3 */
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Navbar Style Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  transition: all 2s ease;
  box-shadow: 0 0 0 1px rgba(20, 20, 20, 0);
  background-color: transparent;
}
.navbar-outline {
  box-shadow: 0 0 0 1px rgb(26, 26, 26);
  background-color: var(--bg-shade);
}

@supports (backdrop-filter: blur(20px)) {
  .navbar-outline {
    backdrop-filter: blur(20px);
    background-color: var(--nav-bar-color);
  }
}
.navbar--nameAndLogo > *{
  display: inline-block;
  vertical-align: middle;

}
.navbar--logo{
  stroke: var(--primary);
  width: 2.667rem;
  height: 2.667rem;
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 42.667px;
  text-decoration: none;
}
.navbar--items ul > li > a {
  text-decoration: none;
}
.navbar--name{
  color: var(--nav-text-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}
/* Navbar Content */
.navbar--content {
  color: var(--nav-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 8px;
  transition: color .4s ease;
}
.navbar--content svg{
  vertical-align: middle;
}
.navbar--content:hover {
  color: #d4d4d4;
}
.navbar--content > svg > path{
  transition: all .4s ease;
}
.navbar--content:hover > svg > path{
  fill: #d4d4d4;
}
.navbar--content > svg > path{
  fill: var(--nav-text-color);
}
.social--icons > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  text-decoration: none;
}
/* Navbar Styler Ends */

/* Hero Section Style */
.hero--section {
  display: flex;
  flex-direction: row;
  padding: 40vh 85.333px 40vh;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.10), 0 0 40px rgba(255, 255, 255, 0.075), 0 0 60px rgba(255, 255, 255, .01);
}
.hero--section--content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1000;
}
.hero--section--row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
@keyframes fadeInOut {
  0%, 30%{
    opacity: 0;
    transform: translateY(-25px);
  }
  40%, 85% {
    opacity: 1;
    transform: translateY(0);
  }
  90%, 100%{
    opacity: 0;
    transform: translateY(25px);
  }
}
.hero--section--title {
  color: var(--heading-color);
  font-size: 74.667px;
  font-weight: 700;
  line-height: 1em;
  z-index: 1000;
  min-width: 750px;
  will-change: 'transform, content';
}

.hero--section--title--color.hero--section--animation{
  display:inline-block;
  opacity: 0;
  animation: fadeInOut 4s;
}

.hero--section--title--color {
  background-size: 100% 100%, 2000% 100%;
  background-clip: text;
  color: transparent;
  opacity:0;
  line-height: 1.2em;
}
.hero--section--img {
  display: flex;
}
.hero--section--img > img {
  width: 100%;
  height: 100%;
}
.fadeIn span{
  opacity: 0;
  transform: translateY(-30px);
  animation: fadeIn 0.3s ease-out forwards;
  display:inline-block;
}

.fadeIn span:nth-of-type(2){
  animation-delay: 0.7s;
}

.fadeIn span:nth-of-type(3){
  animation-delay: .9s;
}

.fadeIn span:nth-of-type(4){
  animation-delay: 1.1s;
}

.fadeIn span:nth-of-type(5){
  animation-delay: 1.4s;
}

@keyframes fadeIn{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.secondFadeIn span{
  opacity: 0;
  transform: translateY(-30px);
  animation: fadeIn 0.3s ease-out forwards;
  animation-delay:2s;
  display:inline-block;
}

.secondFadeIn span:nth-of-type(2){
  animation-delay: 2.2s;
}

@keyframes secondfadeIn{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
/* Hero Section Style Ends */
/* Hero Transition */
.hero--transition{
  display:block;
  padding: 0vh 85.333px 20vh;
}
.scroll--down {
  position: relative;
  opacity: 0;
  left: 50%;
  bottom: 10px;
  font-size: 20px;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(-50%, 0%) rotate(45deg);
  animation: fade_move_down 2.7s ease-in-out infinite 4s;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}



/* Skills Section Style */

@keyframes SkillsAnimation {
  0%{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50px);
  }
  100%{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}

.skills--animation.hide {
  opacity: 0;
  color: #39009c;
}

.skills--animation.show {
  animation: SkillsAnimation .5s ease;
  opacity: 1;
}

.skills--section {
  display: flex;
  padding: 60px 22px 149.33px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70.667px;
}
.skills--section--container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap:40px;
  justify-content: center;
}
.skills--category {
  width: 100%;
  max-width: 500px;
  background: rgb(20, 20, 20);
  border: 0.1px solid #ffffff;
  box-shadow: rgba(211, 211, 211, 0.15) 0px 4px 24px;
  border-radius: 16px;
  padding: 16px 32px;
}
.skills--category--heading {
  color: var(--heading-color);
  font-size: 48px;
  font-weight: 700;
  line-height: 77px;
  text-align: center;
  margin-bottom: 20px;
}
.section--heading.skills--animation.show {
  background: linear-gradient(to bottom, #1100ff, #ff1111);
  background-size: 400% 400%;
  background-clip: text;
  color: transparent;
  -webkit-animation: sectionTitleAnimation 20s ease infinite;
  animation: sectionTitleAnimation 20s ease infinite, SkillsAnimation .5s ease;
}

.skills--section--description {
  color: var(--primary);
  font-size: 21.3px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.skills--category:nth-child(2) {
  transition-delay:200ms;
}

.skills--list{
  display:flex;
  flex:row;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}
.skill{
  display:flex;
  flex:row;
  align-items: center;
  border: 1px solid rgba(86, 86, 86, 0.292);
  border-radius: 12px;
  padding: 12px 16px;
  gap: 10px;
}
.skill--img{
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
}
.skill--name{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

/* Skills Style Ends */

/* Experience Section Style Starts*/

.experience--section {
  display: flex;
  padding: 60px 22px 149.33px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70.667px;
  flex-wrap: wrap;

}

.experience--animation.hide {
  transition: .4s ease;
  opacity: 0;
  scale: .5;
  color: #15ff00;
}

.experience--animation.show{
  opacity: 1;
  scale: 1;
}

.section--heading.experience--animation.show {
  background: linear-gradient(to bottom, #15ff00, #00aaff);
  background-size: 400% 400%;
  background-clip: text;
  color: transparent;
  -webkit-animation: sectionTitleAnimation 20s ease infinite;
  animation: sectionTitleAnimation 20s ease infinite;
  text-align: center;
}

.experience{
  width: 700px;
  border-radius: 10px;
  padding: 12px 16px;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 12px;
  transition: 0.4s ease-in-out;
  border: 0.1px solid rgb(169, 169, 169);
  box-shadow: rgba(195, 199, 205, 0.15) 0px 4px 24px;
  background: rgb(20, 20, 20);
  flex-wrap: wrap;
  flex: 1;
}

.experience:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
  transform: translateY(-5px);
}

.experience--header{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 12px;

}
.experience--header--text {
  width:100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 2px; 
}

.experience--img{
  height: 50px;
  background-color: #000;
  border-radius: 8px;
  margin-top: 4px;
  @media only screen and (max-width: 768px){
      height: 40px;
  }
}

.experience--date {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: right;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}
.experience--title{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}
.experience--company, .experience--date{
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 300;
}

.experience--description{
  color: var(--offwhite);
  font-size: 1rem;
  font-weight: 300;
}

.experience--tags--container{
  display:flex;
  flex-wrap: wrap;
  align-content:flex-start;
  gap: 8px;
  align-items: center;
}

.experience--tags{
  display:flex;
  gap: 10px;
  flex-wrap: wrap;
}

.experience--tag{
  padding: 4px 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--offwhite);
  font-size: 1rem;
  font-weight: 300;
}

/* Experience Section Style Ends */

/* Projects Section Style Starts*/
.projects--section {
  display: flex;
  padding: 60px 22px 149.33px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70.667px;
}

@keyframes projectAnimation {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
.project--animation.hide{
  opacity: 0;
  color: #ff83dc;
}

.project--animation.show{
  animation: projectAnimation .5s ease;
  opacity: 1;
}

.section--heading.project--animation.show {
  background: linear-gradient(to bottom, #ff83dc, #00aaff);
  background-size: 400% 400%;
  background-clip: text;
  color: transparent;
  -webkit-animation: sectionTitleAnimation 20s ease infinite;
  animation: sectionTitleAnimation 20s ease infinite, projectAnimation .5s ease;
  text-align: center;
}

.projects--section--container {
  display: flex;
  padding: 30px 30px;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  width: 90%;
  flex-wrap: wrap;
}

.project--card{
  display: flex;
  flex-direction: column;
  gap:6px;
  justify-content: flex-start;
  border: 0.1px solid rgb(169, 169, 169);
  border-radius: 8px;
  box-shadow: rgba(195, 199, 205, 0.15) 0px 4px 24px;
  background: rgb(20, 20, 20);
  padding: 10px 20px;
  align-items: center;
  flex-grow: 1;
  min-height: 300px;
  flex-basis:0;
  width: 100%;
}

.project--content{
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-grow:1;
}

.project--date{
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 300;
}

.project--title{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.project--img{
  width: 200px;
}

.project--description{
  color: var(--offwhite);
  font-size: 1rem;
  font-weight: 300;
}

.project--links{
  display: flex;
  gap: 10px;
  align-self: flex-start;
}

.project--link{
  color: var(--offwhite);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.project--link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--offwhite);
  transition: width 0.3s ease;
}

.project--link:hover::after {
  width: 100%;
}

.project--tags--container{
  display:flex;
  flex-wrap: wrap;
  align-content:flex-start;
  gap: 8px;
  align-items: center;
  align-self: center;
  margin-top: auto;
  width: 100%;
}

.project--tags{
  display:flex;
  gap: 10px;
  flex-wrap: wrap;
}

.project--tag{
  padding: 4px 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--offwhite);
  font-size: 1rem;
  font-weight: 300;
}
/* Projects Section Style Ends */

/* Footer Starts */
.footer--container {
  display: flex;
  padding: 15.667px 85.333px;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  align-self: stretch;
}
.footer--social--icon > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  text-decoration: none;
}
.divider {
  margin: 106px 0 42.67px;
  height: 1.333px;
  width: 100%;
  background: rgba(40, 41, 56, 0.55);
}
.footer--content--container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.footer--content {
  color: var(--secondary);
  font-size: 18.667px;
  font-weight: 400;
  line-height: 28px;
}

/* Footer Ends */

/* Responsive Screens Starts*/
@media only screen and (max-width: 1600px) {
  .skills--section--heading {
    font-size: 54px;
    line-height: 70px;
  }
  .skills--section--container {
    gap: 28px;
  }
  .skills--section--card {
    gap: 28px;
  }
  .skills--section--card--content {
    gap: 20px;
  }
  .skills--section--title {
    font-size: 23px;
    line-height: 30px;
  }
  .skills--section--description {
    font-size: 17.333px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 1200px) {
  .hero--section {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
  }
  .hero--section--title,
  .footer--content {
    text-align: center;
    width:100%;
    min-width: 400px;
  }
  .skills--section--container,
  .footer--content--container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .skills--section,
  .hero--section--content {
    align-items: center;
  }
  .skills--section,
  .footer--container {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .hero--section--title,
  .skills--section--heading,
  .sections--heading {
    font-size: 40px;
    line-height: 40px;
  }
  .footer--social--icon > ul {
    padding: 0;
    align-items: center;
  }
  .divider {
    margin: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .experience--header--text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .experience--date {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar--name{
    align-self: flex-start;
    font-weight: 700;
    margin-right: auto;
    align-self: flex-end;
  }
  .navbar--items {
    display: none;
  }

  .experience {
    padding: 10px;
    gap: 8px;
    width: 275px;
  }

  .experience--title {
    font-size: 1rem;
  }
  .experience--company,
  .experience--date {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 600px){
  .hero--section--title,
  .footer--content {
    text-align: center;
    width:100%;
    min-width: 350px;
  }
  .section--title {
    font-size: 2rem;
  }
  .navbar{
    padding-left: 15px;
    padding-right: 15px;
  }
  .experience {
    width: 240px;
  }
  .hero--section--title--color {
    font-size: 2.2rem;
  }
  .skills--category--heading {
    font-size: 2.5rem;
  }
  .section--heading {
    font-size: 3rem;
  }
}

/* Responsive Screens Ends*/
